@import "../../styles/vars.scss";

.full-product {
    &__body {
        margin-top: 30px;
        margin-bottom: 40px;
        height: auto;
        box-shadow: 4px 7px 35px rgba(198, 211, 214, 0.3);
        background-color: $white;
        display: flex;
        @media (max-width: $mobile) {
            flex-direction: column;
            margin-bottom: 20px;
            margin-top: 0;
        }
    }
    // .full-product__content
    &__content {
        max-width: 760px;
        width: 100%;
        border-right: 1px solid #e5e5e5;
        padding: 20px;
        @media (max-width: $mobile) {
            border-right: none;
            border-bottom: 1px solid #e5e5e5;
            padding: 40px 20px;
        }
    }
    // .full-product__photo-wrapper
    &__photo-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // .full-product__img
    &__img {
        display: block;
        max-width: 600px;
        max-height: 550px;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    // .full-product__desc
    &__desc {
        max-width: 370px;
        width: 100%;
        padding: 40px 30px;
        @media (max-width: $tablet) {
            max-width: 330px;
            width: 100%;
            padding: 40px 20px;
        }
        @media (max-width: $mobile) {
            max-width: none;
        }
        @media (max-width: $mobileMiddle) {
            padding: 25px 20px;
        }
    }
    // .full-product__desc-sector
    &__desc-sector {
        color: $blue;
        margin-bottom: 15px;
        @media (max-width: $mobileMiddle) {
            margin-bottom: 3px;
            font-size: 14px;
        }
    }
    // .full-product__desc-name
    &__desc-name {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: $mobileMiddle) {
            padding-bottom: 22px;
            margin-bottom: 22px;
        }
    }
    // .full-product__desc-title
    &__desc-title {
        color: $black;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 5px;
        @media (max-width: $mobileMiddle) {
            font-size: 22px;
        }
    }
    // .full-product__desc-art
    &__desc-art {
        color: $grey;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    // .full-product__desc-details
    &__desc-details {
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid #e5e5e5;
    }
    // .full-product__actions
    &__actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    // .full-product__order-btn
    &__order-btn {
        @media (max-width: $mobileMiddle) {
            font-size: 18px;
            height: 55px;
        }
    }
    // .full-product__preview-btn
    &__preview-btn {
        @media (max-width: $mobileMiddle) {
            font-size: 15px;
            height: 55px;
        }
    }
    // .full-product__back-btn
    .full-product__back-btn {
        margin-bottom: 30px;
        @media (max-width: $mobileMiddle) {
            font-size: 13px;
            height: 60px;
        }
    }
}