@import '../../../styles/vars.scss';

.booking-bid {
    padding: 20px;
    background-color: #fff;
    // .booking-bid__item
    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        @media (max-width: $mobileMiddle) {
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
        }
    }
    // .booking-bid__item-name
    &__item-name {
        max-width: 200px;
        width: 100%;
        font-weight: 700;
        @media (max-width: $mobileMiddle) {
            font-size: 20px;
            margin-bottom: 5px;
        }
    }
    // .booking-bid__item-value
    &__item-value {
        max-width: 100%;
        width: 100%;
        overflow-x: auto;
        @media (max-width: $mobileMiddle) {
            font-size: 20px;
        }
    }
    // .booking-bid__actions
    &__actions {
        border-top: 1px solid #eee;
        margin-top: 20px;
        padding-top: 20px;
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        flex-wrap: wrap;
        @media (max-width: $mobileMiddle) {
            justify-content: center;
        }
    }
}