@import "../../../assets/styles/vars.scss";

.complexes {
    // .complexes__label
    &__label {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: $black;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
    }
    // .complexes__select
    &__select {
        height: 45px;
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}
