@import "../../../assets/styles/vars.scss";

.bid-edit-booking-form {
    // .bid-edit-booking-form__info-raw
    &__info-raw {
        margin-bottom: 13px;
    }
    // .bid-edit-booking-form__input-raw
    &__input-raw {
        margin-bottom: 13px;
    }
    // .bid-edit-booking-form__input
    &__input {
        width: 100%;
        @media (max-width: $mobileMiddle) {
            margin-top: 5px;
            max-width: 350px;
        }
    }
    // .bid-edit-booking-form__select
    &__select {
        width: 100%;
        @media (max-width: $mobileMiddle) {
            margin-top: 5px;
            max-width: 350px;
        }
    }
}
