@import "../../../assets/styles/vars.scss";

.text-input {
    display: inline-block;
    background-color: $white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    &:disabled {
        opacity: 0.5;
    }
    &:focus {
        border-color: $red;
    }
}
