.badge {
    padding: 3px 7px;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    &--NEW {
        background-color: #ff6666;
    }
    &--IN_WORK {
        background-color: #e6e600;
    }
    &--COMPLETED {
        background-color: #18e618;
    }
}