@import '../../../styles/vars.scss';

.viewing-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    // .viewing-form__label
    &__label {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 13px;
        width: 100%;
        font-size: 15px;
        &--thin {
            max-width: 160px;
        }
    }
    // .viewing-form__input
    &__input {
        height: 40px;
        width: 100%;
    }
    // .viewing-form__input-group
    &__input-group {
        display: flex;
        gap: 5px;
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
        }
    }
    // .viewing-form__btn
    &__btn {
        margin-top: 10px;
        margin-left: auto;
    }
}