@import '../../styles/vars.scss';

.bids {
    margin-bottom: 40px;
    // .bids__title
    &__title {
        margin-bottom: 20px;
        @media (max-width: $pc) {
            text-align: center;
        } 
    }
    // .bids__content
    &__content {
        background-color: #ffffff;
        padding: 25px 40px;
    }
}