@import '../../styles/vars.scss';

.view-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
    @media (max-width: $mobile) {
        margin-bottom: 20px;
    }
}