@import "../../../assets/styles/vars.scss";

.booking-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    // .booking-form__label
    &__label {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 13px;
        width: 100%;
        font-size: 15px;
        &--thin {
            max-width: 160px;
        }
    }
    // .booking-form__input
    &__input {
        height: 40px;
        width: 100%;
    }
    // .booking-form__error
    &__error {
        color: $red;
        font-size: 13px;
        line-height: 1.3;
    }
    // .booking-form__input-group
    &__input-group {
        display: flex;
        gap: 5px;
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
        }
    }
    // .booking-form__textarea
    &__textarea {
        margin-top: 5px;
        margin-bottom: 10px;
        height: 60px;
        overflow-y: auto;
    }
    // .booking-form__agreement-text
    &__agreement-text {
        font-size: 13px;
        @media (max-width: $mobileSmall) {
            font-size: 12px;
        }
    }
    // .booking-form__checkbox
    &__checkbox {
        margin-right: 5px;
        margin-top: 2px;
        width: 13px;
    }
    // .booking-form__btn
    &__btn {
        margin-top: 10px;
        margin-left: auto;
    }
}
