@import '../../../styles/vars.scss';

.button-favourite {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: auto;
    height: 46px;
    padding: 0 20px;
    border-radius: 23px;
    border: 3px solid #e5e5e5;
    background-color: $white;
    text-align: center;
    color: $grey;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease-in;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
        border-color: $red;
        color: $red;
        .button-favourite__icon {
            color: $red;
        }
    }
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    // .button-favourite__icon
    &__icon {
        color: #ececec;
        font-size: 24px;
        transition: all 0.2s ease-in;
        &--active {
            color: $white;   
        }
    }
    &--active {
        border-color: #ff9898;
        background-color: $red;
        color: $white;
        &:hover {
            opacity: 0.8;
            cursor: pointer;
            color: $white;
            .button-favourite__icon {
                color: $white;
            }
        }
    }
}