//<====Breakpoints=====>
$pcBig: 1440px; //большие мониторы
$pc: 1170px; //пк и ноутбуки
$tablet: 991.98px; //планшеты
$mobile: 767.96px; //телефоны
$mobileMiddle: 677px; //телефоны
$mobileSmall: 479.98px; //телефоны

//<=====Font========>
$fontFamily: "Montserrat", sans-serif;
$fontSize: 16px;

//<=====Colors========>
$red: #dc0909;
$yellow: #ffdd56;
$black: #000;
$white: #fff;
$grey: #959595;
$blue: #007bff;